body {
    font-family: Arial, sans-serif;
    background-color: #b63434;
  }
  
  h1 {
    text-align: center;
    color: #5f2121;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: rgb(122, 11, 11);
    font-size: 16px;  
    cursor: pointer;
    border-radius: 5px;
  }
